<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_IServicioLematizacion" maxReceivedMessageSize="1048576">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IServicioFamilias" />
                <binding name="BasicHttpsBinding_IServicioFamilias">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://appstip.iatext.ulpgc.es/ServicioLematizacionWCF/ServicioLematizacion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IServicioLematizacion"
                contract="ServicioLematizacion.IServicioLematizacion" name="BasicHttpsBinding_IServicioLematizacion" />
            <endpoint address="http://appstip.iatext.ulpgc.es/ServicioFamiliasWCF/ServicioFamilias.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioFamilias"
                contract="ServicioFamilias.IServicioFamilias" name="BasicHttpBinding_IServicioFamilias" />
            <endpoint address="https://appstip.iatext.ulpgc.es/ServicioFamiliasWCF/ServicioFamilias.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IServicioFamilias"
                contract="ServicioFamilias.IServicioFamilias" name="BasicHttpsBinding_IServicioFamilias" />
        </client>
    </system.serviceModel>
</configuration>